.card {
  width: 20.2rem;
  height: 22rem;
  /*   margin: 6px !important;
 */
  border: 1px solid rgba(0, 0, 0, 0.275) !important;
  min-height: 100%;
}

.card-img-top {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 20px;
}

/* .btn {
  background-color: #ff971d !important;
  border-color: #ff971d;
} */

a:hover {
  border-color: #ffe8d6;
  color: #73726f;
}

.card h5 {
  font-size: 1.8rem !important;
}

@media (max-width: 1480px) {
  .card {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 1rem;
  }
}

a {
  text-decoration: none;
  color: #191919;
}

@media (max-width: 770px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 771px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1480px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (max-width: 1199px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.img-about {
  height: 11rem;
}
