.card-education {
  width: 33rem;
  height: 33rem;
}

@media (max-width: 1170px) {
  .card-education {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 23rem;
    height: 25rem;
  }
}

.btn {
  background-color: #494949 !important;
  border-color: #494949;
  border-radius: 0;
  color: #fffdf6;
}

.btn:hover {
  border-color: #fffdf6;
  color: #ece8d9;
}
