.card-education {
  width: 24rem;
  height: 31rem;
  min-height: 100%;
}

@media (max-width: 1170px) {
  .card-education {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 23rem;
    height: 31rem;
  }
}

.btn {
  background-color: #494949 !important;
  border-color: #494949;
  border-radius: 0;
  color: #fffdf6;
}

.btn:hover {
  border-color: #fffdf6;
  color: #ece8d9;
}

.mystyle {
  height: 16rem;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

@media (max-width: 995px) {
  .exp-med {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* @media (min-width: 1580px) {
  .exp-med {
    flex: 0 0 auto !important;
    width: 33% !important;
  }
} */
