html {
  background-color: #fffdf6;
}

.App {
  text-align: center;
  background-color: #fffdf6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.z-index {
  z-index: 1090px;
  position: relative;
}

.tables {
  display: table;
  height: 570px;
}

.subtable {
  display: table-cell;
  vertical-align: middle;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.275) !important;
  min-height: 100%;
}

.card-img-top {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 20px;
}

a:hover {
  border-color: #ffe8d6;
  color: #73726f;
}

.card h5 {
  font-size: 1.8rem !important;
}

@media (max-width: 1480px) {
  .card {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 1rem;
  }
}

a {
  text-decoration: none;
  color: #191919;
}

@media (max-width: 770px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 771px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1480px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (max-width: 1199px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.img-about {
  height: 11rem;
}

.card-education {
  width: 24rem;
  height: 31rem;
  min-height: 100%;
}

@media (max-width: 1399px) {
  .card-education {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 22rem;
    height: 28rem;
  }
}

.btn:hover {
  border-color: #fffdf6;
  color: #ece8d9;
}

.mystyle {
  height: 16rem;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.right {
  float: right !important;
}

.navbar {
  background-color: #fffdf6 !important;
  padding: 0 !important;
}

.border {
  border: 2px solid rgba(0, 0, 0, 1) !important;
}

.social-media {
  margin-top: 7rem;
  width: 8rem;
  transition: transform 0.2s ease-in-out 0s;
  height: auto;
  max-width: 100%;
}

hr {
  text-align: center;
}

.img-abt {
  margin-bottom: 50px;
  width: 15rem;
}

@media (max-width: 1170px) {
  .card-education {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 23rem;
    height: 31rem;
  }
}

.card-exp {
  width: 3rem;
}

.top-15 {
  top: 15%;
}

.top-55 {
  top: 55% !important;
}
